<html>
	<head>
	    <title>Sessie formulier - POST</title>
	</head>
	<body>
		<h1>Sessie formulier - POST</h1>
		{% if not error == '' %}
			<p><span style="color:red;">Error: {{ error }}</span></p>
		{% endif %}
	    <form action="" method="post">{% csrf_token %}
	    	<table>
				<tr>
					<td><label for="sessie_key">Sessie key:</label></td>
					<td><input type="text" name="sessie_key"></td>
				</tr>
				<tr>
					<td><label for="sessie_value">Sessie value:</label></td>
					<td><input type="text" name="sessie_value"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="add" value="Toevoegen">
						<input type="submit" name="clear" value="Leegmaken">
					</td>
				</tr>
			</table>
	    </form>
	    {% if not sessie_key == '' %}
	    	<p>Sessie key: {{ sessie_key }}</p>
    	{% endif %}
    	{% if not sessie_value == '' %}
	    	<p>Sessie value: {{ sessie_value }}</p>
	    {% endif %}
	    {% if sessie_keys|length > 0 %}
	    	<p>Sessie keys: {{ sessie_keys }}</p>
	    	<ul>
		    	{% for key, value in sessie_keys %}
				    <li>{{ key }}: {{ value }}</li>
				{% endfor %}
			</ul>
    	{% endif %}
	</body>
</html>